.div-table {
  margin: 0 auto;
  display: table;
  width: auto;
  background-color: white;
  border: 1px solid black;
  border-spacing: 5px;
}

.div-table-row {
  display: flex;
  justify-content: space-between;
}

.div-cell {
  width:50px;
  background-color:lightgray;
  text-align:center;
  margin:3px;
}
.first-col {
  text-align:left;
  margin:3px;
  width: 200px;
}
.head-row {
  width:50px;
  text-align:center;
  margin:3px;
}

.first-row {
  display: flex;
}

.changeColor {
  background-color: green;
}

.div-cell {
  cursor: pointer;
}
